
        <!-- ========== Hero Cover ========== -->

        <div id="home" class="fw-video-hero">

          <!-- Video Background -->
          <div id="fw-video-one-bg" class="player" 
               data-property="{videoURL:'http://youtu.be/Scxs7L0vhZ4',containment:'.fw-video-hero',autoPlay:true, mute:true, startAt:71, stopAt:300, opacity:1}">
          </div>

          <div class="bg-overlay">
                            
            <!-- Hero Content -->
            <div class="hero-content-wrapper">
              <div class="hero-content">
                
                <h1 class="hero-lead wow fadeInLeft" data-wow-duration="1.5s">Plan</h1>
                <h1 class="hero-lead wow fadeInLeft" data-wow-duration="2.5s">Prepare</h1>
                <h1 class="hero-lead wow fadeInLeft" data-wow-duration="3.5s">Survive</h1>
                <h4 class="h-alt hero-subheading wow fadeIn" data-wow-duration="2s" data-wow-delay=".7s">A simple, accessible disaster preparedness guide for your family</h4>
                <a href="/signup" class="btn btn-light wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/login" class="btn btn-light wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">Login</a>
              </div>
            </div>

            <!-- Scroller -->
            <!-- <a href="#about" class="scroller">
              <span class="scroller-text">scroll down</span>
              <span class="linea-basic-magic-mouse"></span>
            </a> -->

          </div><!-- / .bg-overlay -->
        </div><!-- / .fs-video-hero -->
