
 <!-- ========== Hero Cover ========== -->
<div id="home" class="fw-video-hero">

  <!-- Video Background -->
  <div id="fw-video-one-bg" class="player" 
  data-property="{videoURL:'http://youtu.be/Scxs7L0vhZ4',containment:'.fw-video-hero',autoPlay:true, mute:true, startAt:71, stopAt:300, opacity:1}">
  </div>

  <div class="bg-overlay">

    <!-- Hero Content -->
    <div class="hero-content-wrapper">
      <div class="hero-content">

        <h1 class="hero-lead wow fadeInLeft work-sans" data-wow-duration="2s"><span>Plan</span></h1>
        <h1 class="hero-lead wow fadeInLeft work-sans" data-wow-duration="3s"><span>Prepare</span></h1>
        <h1 class="hero-lead wow fadeInLeft work-sans" data-wow-duration="4s"><span>Survive</span></h1>
        <h4 class="h-alt hero-subheading wow fadeIn" style="color:#fff;" data-wow-duration="2s" data-wow-delay=".7s">A simple, accessible disaster preparedness guide for your family</h4>
        <a href="/signup" class="btn btn-light wow fadeIn" data-wow-duration="4s" data-wow-delay="5s">Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/login" class="btn btn-light wow fadeIn" data-wow-duration="6s" data-wow-delay="5s">Login</a>
      </div>
    </div>

    <!-- Scroller -->
    <!-- <a href="#about" class="scroller">
      <span class="scroller-text">scroll down</span>
      <span class="linea-basic-magic-mouse"></span>
    </a> -->

  </div><!-- / .bg-overlay -->
</div><!-- / .fw-video-hero -->

<!-- ========== About - Section ========== -->

<!-- <section id="about" class="container">
  <div class="row section min-padding">
    <header class="sec-heading">
      <div class="subheading textleft">
        <p class="no-text-transform">When disasters strike, families often do not have access to food, water, or electricity for several days and stores quickly sell out of important supplies.</p>
        <p class="no-text-transform">Unfortunately, only about half of adults in the United States have the resources and plans needed in place. Preparing now for your family is an important step in keeping them safe and healthy during a disaster.</p>
      </div>
    </header>
  </div>
</section> --><!-- / .container -->   

<!-- ========== Services ========== -->

<section id="about" class="container section min-padding ft-centered">
  <div class="row no-padding">
    
    <!-- Item 1 -->
    <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
      <span class="et-streetsign"></span>
      <h5>Household Plan</h5>
      <p>Set up your family group and establish an emergency plan.</p>
    </div>

    <!-- Item 2 -->
    <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s">
      <span class="et-profile-male"></span>
      <h5>Family Members</h5>
      <p>Add individual family members and their unique needs</p>
    </div>

    <!-- Item 3 -->
    <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s">
      <span class="et-clipboard"></span>
      <h5>Resources</h5>
      <p>Determine and acquire the resources for each family member</p>
    </div>

    <!-- Item 4 -->
    <div class="col-md-3 col-sm-6 mb-sm-50 ft-item ft-dark-spin wow zoomIn" data-wow-duration=".6s" data-wow-delay=".3s">
      <span class="et-caution""></span>
      <h5>Scenarios</h5>
      <p>View guides for many potential disaster and emergency scenarios.</p>
    </div>

  </div><!-- / .row -->
</section><!-- / .ft-frames -->


