<!-- ========== Page Title ========== -->
<section>
  <header class="pt-custom pt-dark">
    <div class="container">
      <div class="row">
   
        <div class="col-sm-3 pad1">
          <div style="float:left">
            <a href="/logout"><img src="../assets/images/logo.png" height="100px" width="170px" alt="Prepper logo"></a>
          </div>
        </div>
        <div class="col-sm-9 pad1">
          <div class="myheader pad1">Resources</div>
        </div>

      </div>
    </div>
  </header>
</section>

<!-- ========== Login Form ========== -->
 
<section class="container portfolio-layout portfolio-columns-boxed no-padding">
  <div class="row no-padding">
    <header class="sec-heading">
      <h2>Resources</h2>
      <span class="subheading">Something I will add later</span>
    </header>
  </div><!-- / .row -->
  
  <!-- Filters -->
  <div class="row no-padding">
    <ul id="pfolio-filters" class="portfolio-filters">
      <li class="active"><a href="#" data-filter="*">All</a></li>
      <li><a href="#" data-filter=".webdesing">Bugout Bag</a></li>
      <li><a href="#" data-filter=".print">Base</a></li>
    </ul>
  </div>

  <div class="row ws-m">
    <div id="pfolio">

      <!-- Item 1 -->
      <div class="col-md-3 portfolio-item print">
        <div class="p-wrapper hover-default">
          <img src="http://placehold.it/990x650" alt="Project Example">
          <div class="p-hover">
            <div class="p-content">
              <h4>Project Name</h4>
              <h6 class="subheading">Sub heading</h6>
            </div>
          </div>
          <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
        </div>
      </div><!-- / .portfolio-item -->

      <!-- Item 2 -->
      <div class="col-md-3 portfolio-item webdesing photo">
        <div class="p-wrapper hover-default">
          <img src="http://placehold.it/990x650/aaa/ccc" alt="Project Example">
          <div class="p-hover">
            <div class="p-content">
              <h4>Project Name</h4>
              <h6 class="subheading">Sub heading</h6>
            </div>
          </div>
          <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
        </div>
      </div><!-- / .portfolio-item -->

      <!-- Item 3 -->
      <div class="col-md-3 portfolio-item photo print">
        <div class="p-wrapper hover-default">
          <img src="http://placehold.it/990x650" alt="Project Example">
          <div class="p-hover">
            <div class="p-content">
              <h4>Project Name</h4>
              <h6 class="subheading">Sub heading</h6>
            </div>
          </div>
          <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
        </div>
      </div><!-- / .portfolio-item -->

      <!-- Item 4 -->
      <div class="col-md-3 portfolio-item webdesing print">
        <div class="p-wrapper hover-default">
          <img src="http://placehold.it/990x650/aaa/ccc" alt="Project Example">
          <div class="p-hover">
            <div class="p-content">
              <h4>Project Name</h4>
              <h6 class="subheading">Sub heading</h6>
            </div>
          </div>
          <a href="portfolio-single-1.html" class="open-btn"><i class="fa fa-expand"></i></a>
        </div>
      </div><!-- / .portfolio-item -->

    </div><!-- / #pfolio -->
  </div><!-- / .row -->
</section><!-- / .portfolio-columns-boxed -->

