<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <<title>Home Disaster Preparedness</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon -->
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
        <!-- Fonts -->
        <link rel="stylesheet" href="/assets/fonts/et-lineicons/css/style.css">
        <link rel="stylesheet" href="/assets/fonts/linea-font/css/linea-font.css">
        <link rel="stylesheet" href="/assets/fonts/fontawesome/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">        
        <!-- Slider -->
        <link rel="stylesheet" href="/assets/styles/vendor/slick.css">
        <!-- Lightbox -->
        <link rel="stylesheet" href="/assets/styles/vendor/magnific-popup.css">
        <!-- Animate.css -->
        <link rel="stylesheet" href="/assets/styles/vendor/animate.css">


        <!-- Definity CSS -->
        <link rel="stylesheet" href="/assets/styles/app.css">        
        <link rel="stylesheet" href="/assets/styles/main.css">
        <link rel="stylesheet" href="/assets/styles/responsive.css">
        <link rel="stylesheet" href="/assets/styles/app.css">

        <!-- JS -->
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body id="page-top">
        
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <!-- ========== Preloader ========== -->
        <% if current_page?('/') %> 
          <div class="preloader">
            <img src="../assets/images/loader.svg" alt="Loading...">
          </div>  
        <% end %>      

        <!-- ========== Navigation ========== -->

        <nav class="navbar navbar-default navbar-fixed-top mega navbar-trans">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

             </div><!-- / .navbar-header -->

            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">

              </ul><!-- / .nav .navbar-nav -->
              
              <!-- Navbar Links Right -->
              <ul class="nav navbar-nav navbar-right">
                <% if (current_user) %>                 
                  <!-- Link -->
                  <li class="dropdown mega-fw">
                    <a href="/logout" aria-expanded="false">Logout</a>
                  </li><!-- / Link -->
                <% else %>
                  <!-- Link -->
                  <li class="dropdown mega-fw">
                    <a href="/login" aria-expanded="false">Login</a>
                  </li><!-- / Link -->
                <% end %>                 
              </ul><!-- / .nav .navbar-nav .navbar-right -->
            </div><!--/.navbar-collapse -->
          </div><!-- / .container -->
        </nav><!-- / .navbar -->
      

        <div>
          <%= yield %>
        </div>

        <!-- ========== Footer ========== -->
        
        <footer class="footer-widgets">
          <!-- Copyright -->
          <div class="copyright">
            <div class="container">
              <div class="row">
                
                <div class="col-sm-6">
                  <small>&copy; 2017 Terry Ramsdale </small>
                </div>

<!--                 <div class="col-sm-6">
                  <small><a href="#page-top" class="pull-right to-the-top">To the top<i class="fa fa-angle-up"></i></a></small>
                </div>
 -->
              </div><!-- / .row -->
            </div><!-- / .container -->
          </div><!-- / .copyright -->

        </footer><!-- / .footer-widgets -->



        <!-- ========== Scripts ========== -->

        <script src="assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="assets/js/vendor/google-fonts.js"></script>
        <script src="assets/js/vendor/jquery.easing.js"></script>
        <script src="assets/js/vendor/jquery.waypoints.min.js"></script>
        <script src="assets/js/vendor/bootstrap.min.js"></script>
        <script src="assets/js/vendor/bootstrap-hover-dropdown.min.js"></script>
        <script src="assets/js/vendor/smoothscroll.js"></script>
        <script src="assets/js/vendor/jquery.localScroll.min.js"></script>
        <script src="assets/js/vendor/jquery.scrollTo.min.js"></script>
        <script src="assets/js/vendor/jquery.stellar.min.js"></script>
        <script src="assets/js/vendor/jquery.parallax.js"></script>
        <script src="assets/js/vendor/slick.min.js"></script>
        <script src="assets/js/vendor/jquery.easypiechart.min.js"></script>
        <script src="assets/js/vendor/countup.min.js"></script>
        <script src="assets/js/vendor/isotope.min.js"></script>
        <script src="assets/js/vendor/packery-mode.pkgd.min.js"></script>
        <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/vendor/wow.min.js"></script>
        <script src="assets/js/vendor/jquery.mb.YTPlayer.min.js"></script>
        <script src="assets/js/vendor/jquery.ajaxchimp.js"></script>

        <!-- Google Maps -->
        <script src="assets/js/gmap.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOcd7o0W0r846FC_GoHSK56xeAvP8fV4s"></script>

        <!-- Definity JS -->
        <script src="assets/js/main.js"></script>
    </body>
</html>




